<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <param name="Encoding" value="UTF-8"/>
        <destination>${LOGSTASH_IP}:${LOGSTASH_CONTAINER_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>   <!-- Here, the log format is defined (processed) to JSON, so that it can be sent to Logstash, and then to Elasticsearch -->
                        {
                          "severity": "%level", <!-- Log level -->
                          "service": "my-ev-app",   <!-- Service name -->
                          "trace": "%X{X-B3-TraceId:-}",    <!-- Trace ID (trace is the parent of span and is used to group logs) -->
                          "span": "%X{X-B3-SpanId:-}",   <!-- Span ID (a span is a unit of work in a trace, which can be a single log event) -->
                          "exportable": "%X{X-Span-Export:-}",  <!-- Exportable flag (indicates whether the span should be exported to a tracing system) -->
                          "pid": "${PID:-}",        <!-- Process ID -->
                          "thread": "%thread",   <!-- Thread name -->
                          "class": "%logger{40}",   <!-- Class name --> 
                          "message": "%message"   <!-- Log message -->
                        }
                    </pattern>
                </pattern>
            </providers>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>
